* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.71vw;  
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  list-style: none;
  text-decoration: none;
  color: #23294F;
}

a {
  font-style: italic;
}

body {
  background-color: #F1F1F1;
}

.footer {
  background-image: url('../atributes/img/Group\ 3028.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100%;
  padding: 1.71vw;
  margin: 0 3vw;
}

